<div class="row">
<div class="col-sm-8">
<table class="table table-striped">
    <thead>
        <tr>
         <th>FirstName</th>
         <th>LastName</th>
         <th>Email</th>   
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of userDetail">
            <td>{{item.fname}}</td>
            <td>{{item.lname}}</td>
            <td>{{item.email}}</td>
        </tr>
    </tbody>
</table>   
</div>  
<div class="col-sm-3">
    <button class="btn btn-primary" (click)="logout()">Logout </button>
    </div>
</div>
 <h2 *ngFor="let item of userDetail" >   Welcome to login page {{item.fname}}</h2>
